# Backup files
*~

# Emacs' automatic file saving
\#*\#

# Files used by emerge when merging conflict occur
*.orig

# Platforms dependant folders
**/linux*/

# Ignore lnInclude folders, which should be generated during build-time
lnInclude
